body {
    /* Generell CSS for nettsiden */
    margin: 0;
    background-image: url("Bilder/BloonsClickerBackground.png");
    background-size: 130%;
}

#bloonDivRow {
    /* Lager flexbox for å holde knappen i, sorterer innholdet i en rad (horisontalt) */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#popsPerSec {
    /* Vanglig CSS */
    margin: 2vw;
    padding: 1vw;
    height: fit-content;
    min-width: 20vw;
    text-align: center;
    background-color: rgb(208, 160, 39);
    color: white;
    border-color: rgb(30, 30, 30);
    border-width: 3;
    border-style: solid;
    border-radius: 10px;
}

.fillerDiv {
    /* Vanlig CSS */
    margin: 2vw;
    padding: 1vw;
    min-width: 20vw;
}

#bloonDivCol {
    /* Lager flexbox for å holde knappen i, sorterer innholdet i en kolonne (vertikalt) */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#popCounter {
    /* Sentrerer teksten, endrer farger og border */
    text-align: center;
    background-color: rgb(208, 160, 39);
    color: white;
    border-color: rgb(30, 30, 30);
    border-width: 3;
    border-style: solid;
    border-radius: 10px;
}

#bloonButton {
    /* Fjerner all 'styling' fra knappen sånn at bildet er det eneste som sees */
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
}

#bloonImg {
    /* Størrelsen til bildet/knappen vil endre seg med størrelsen på vinduet */
    max-width: 30vw;
    max-height: 30vh;
    cursor: url("Bilder/Dart.png") 5 5, auto;
}

#upgrades {
    /* Flexbox som skal inneholde alle oppgraderingene */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .3);
}

.upgradeButton {
    /* Felles CSS for alle oppgraderings-knappene */
    width: 24%;
    min-height: 20vh;
    font-size: large;
    font-weight: bolder;
    margin: 2%;
    border-width: 4;
    border-radius: 0;
    border-color: black;
    border-style: ridge;
    /* 'white-space: pre-line' gjør at man kan bruke \n i JavaScript */
    white-space: pre-line;
    /* CSS for å gji knappene en kul stil */
    align-self: center;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    color: #1e1e1e;
    cursor: pointer;
    /* Lager kantene til knappene */
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    /* Gjør at transitionen (hover) kjører som en animasjon og ikke bytter øyeblikkelig */
    transition: all 235ms ease-in-out;
}

.upgradeButton:hover {
    /* Når musepekeren er over knappen vil den gå litt nedover */
    transform: translate3d(0, 2px, 0);
}