#bloonDivRow {
    /* Lager flexbox for å holde knappen i, sorterer innholdet i en rad (horisontalt) */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bloonDivCol {
    /* Lager flexbox for å holde knappen i, sorterer innholdet i en kolonne (vertikalt) */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#popCounter {
    /* Sentrerer teksten */
    text-align: center;
}

#bloonButton {
    /* Fjerner all 'styling' fra knappen sånn at bildet er det eneste som sees */
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: white;
}

#bloonImg {
    /* Størrelsen til bildet/knappen vil endre seg med størrelsen på vinduet */
    max-width: 30vw;
    max-height: 30vh;
}